<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.easyplex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".EasyPlexApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
         android:usesCleartextTraffic="true"
        tools:targetApi="q">



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2104799112324452~3374907760"/>



        <meta-data
            android:name="com.startapp.sdk.APPLICATION_ID"
            android:value="201975314" />


        <activity
            android:name=".ui.base.BaseActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <service
            android:name=".ui.notifications.NotificationManager"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>




        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.easyplex.ui.player.cast.CastOptionsProvider" />


        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_smal_size" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />


        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />



        <activity
            android:name=".ui.payment.PaymentDetails"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait" />




        <activity
            android:name=".ui.moviedetails.MovieDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:parentActivityName=".ui.base.BaseActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="MOVIE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <activity
            android:name=".ui.seriedetails.SerieDetailsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.animes.AnimeDetailsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />



        <activity
            android:name=".ui.player.activities.EasyPlexMainPlayer"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/TubiPlayerTheme" />



        <activity
            android:name=".ui.register.RegistrationSucess"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.trailer.TrailerPreviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.upcoming.UpcomingTitlesActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.player.activities.EasyPlexPlayerActivity"
            android:theme="@style/TubiPlayerTheme"

            />


        <activity android:name=".ui.profile.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.download.DownloadList" />
        <activity android:name=".ui.payment.Payment"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.player.activities.EmbedActivity" />


    </application>

</manifest>